run = "./app"
hidden = ["main"]
compile = "go build -tags netgo -ldflags '-s -w' -o app"

[languages.go]
pattern = "**/*.go"

[languages.go.languageServer]
start = "gopls"

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "./app"]
build = ["sh", "-c", "go build -tags netgo -ldflags '-s -w' -o app"]
ignorePorts = false
deploymentTarget = "gce"
